.dental-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.dental-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.tooth {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #eee;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  cursor: pointer;
  width: calc(100% / 8 - 10px); /* 8 dientes por fila en pantallas grandes */
  max-width: 80px;
  height: auto;
}

.tooth.selected {
  background-color: #007bff;
  color: white;
}

@media (max-width: 400px) {
  img {
    width: 280px !important;
  }
}

@media (max-width: 768px) {
  .tooth {
    width: calc(100% / 4 - 10px); /* 4 dientes por fila en tablets */
  }
}

@media (max-width: 480px) {
  .tooth {
    width: calc(100% / 2 - 10px); /* 2 dientes por fila en móviles */
  }
}
